$color-primary: #022D47;
$color-seconda: #3a7b99;
$color-tertiar: #ff0068;
$color-for-body: #c70754;

$color-white: #FFF;
$color-black: #000;

$color-grey-1: #EEE;
$color-grey-2: #DDD;
$color-grey-3: #777;

$transparent: transparent;

$section-width: 65%;

/*

#ff0068
#c70754
#32a2db
#e1f3fe
#022D47

*/